.social-media, .end-page__list, .section-clients__list, .social, .section-team__list, .section-work__list, .section-features__list, .contact, .site-nav {
  list-style: none;
  margin: 0;
  padding: 0;
}

.button__primary, .btn-secondary {
  display: inline-block;
  border-radius: 4px;
  border: none;
  padding: 6px 22px;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: #212121;
  background-color: #F5F4FA;
  font-family: inherit;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: 0.03em;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.page {
  color: #212121;
  font-family: "Roboto", sans-serif;
}

.page-header {
  position: relative;
  background-color: #FFFFFF;
  border-bottom: 1px solid #ECECEC;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
  color: #000000;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.logo:hover, .logo:focus {
  color: #2196F3;
}

.logo__text--accent {
  color: #2196F3;
}

.logo__text--color {
  color: #FFFFFF;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.logo__text--color:hover, .logo__text--color:focus {
  color: #2196F3;
}

@media screen and (min-width: 767px) {
  .site-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-right: 50px;
  }
}
@media screen and (min-width: 1200px) {
  .site-nav {
    margin-right: 305px;
  }
}

.main-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media screen and (max-width: 767px) {
  .main-nav {
    padding-top: 16px;
    padding-bottom: 16px;
  }
}

.main-nav__menu {
  background: #FFFFFF;
  -webkit-box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
  z-index: 1;
}
@media screen and (min-width: 767px) {
  .main-nav__menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: 80px;
    margin: 0;
  }
}
.main-nav__menu.is-open {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: fixed;
  top: 0;
  padding: 48px 40px;
  width: 100vw;
  height: 100vh;
}
@media screen and (max-width: 767px) {
  .main-nav__menu {
    display: none;
    top: 100%;
    left: 0;
  }
}
@media screen and (min-width: 767px) {
  .main-nav__menu {
    -webkit-box-shadow: none;
            box-shadow: none;
  }
}

.site-nav__link {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: #212121;
  text-decoration: none;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.site-nav__link:hover, .site-nav__link:focus {
  color: #2196F3;
  cursor: pointer;
}
@media screen and (min-width: 767px) {
  .site-nav__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    color: #212121;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
  }
}

@media screen and (min-width: 767px) {
  .site-nav__link--current {
    position: relative;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #2196F3;
  }
  .site-nav__link--current::after {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 4px;
    background: #2196F3;
    border-radius: 2px;
  }
}

.site-nav__item {
  margin-bottom: 32px;
}
@media screen and (min-width: 767px) {
  .site-nav__item {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 767px) {
  .site-nav__item:last-child {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 767px) {
  .site-nav__item:not(:last-child) {
    margin-right: 50px;
  }
}

.contact {
  margin-left: 0;
}
@media screen and (min-width: 767px) {
  .contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media screen and (min-width: 1200px) {
  .contact {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.contact__item:not(:last-child) {
  margin-right: 30px;
  margin-bottom: 32px;
}
@media screen and (min-width: 767px) {
  .contact__item:not(:last-child) {
    margin: 0;
  }
}
@media screen and (min-width: 1200px) {
  .contact__item:not(:last-child) {
    margin: 0;
    margin-right: 40px;
  }
}

@media screen and (min-width: 767px) {
  .contact__item:first-child {
    margin: 0;
    margin-top: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .contact__item:first-child {
    margin: 0;
  }
}

.contact__item--mobile-size {
  font-weight: 500;
  line-height: 1.17;
  letter-spacing: 0.02em;
}
@media screen and (max-width: 767px) {
  .contact__item--mobile-size {
    font-size: 34px;
  }
}
@media screen and (min-width: 767px) {
  .contact__item--mobile-size {
    font-size: 12px;
  }
}

.contact__item--mail-size {
  font-weight: 500;
  line-height: 1.17;
  letter-spacing: 0.02em;
}
@media screen and (max-width: 767px) {
  .contact__item--mail-size {
    font-size: 34px;
  }
}
@media screen and (min-width: 767px) {
  .contact__item--mail-size {
    font-size: 12px;
  }
}

.contact__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: #757575;
}
.contact__link:hover, .contact__link:focus {
  color: #2196F3;
  cursor: pointer;
}

.contact__icon {
  fill: currentColor;
  margin-right: 10px;
}
@media screen and (max-width: 767px) {
  .contact__icon {
    display: none;
  }
}

.hero {
  background-color: #2F303A;
  text-align: center;
  margin: 0 auto;
  padding-top: 118px;
  padding-bottom: 118px;
}
@media screen and (min-width: 1200px) {
  .hero {
    padding-top: 200px;
    padding-bottom: 200px;
  }
}

/* overlay */
.hero--overlay {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
@media screen and (max-width: 767px) {
  .hero--overlay {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/bcg-mobile-1x.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/bcg-mobile-1x.jpg");
  }
}
@media screen and (max-width: 767px) and (min-device-pixel-ratio: 2), screen and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 2), screen and (max-width: 767px) and (min-resolution: 192dpi), screen and (max-width: 767px) and (min-resolution: 2dppx) {
  .hero--overlay .hero--overlay {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/bcg-mobile-2x.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/bcg-mobile-2x.jpg");
  }
}
@media screen and (min-width: 768px) {
  .hero--overlay {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/bcg-tablet-1x.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/bcg-tablet-1x.jpg");
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero--overlay .hero--overlay {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/bcg-tablet-2x.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/bcg-tablet-2x.jpg");
  }
}
@media screen and (min-width: 1200px) {
  .hero--overlay {
    max-width: 1600px;
    height: 600px;
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/bcgpicture.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/bcgpicture.jpg");
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero--overlay .hero--overlay {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/bcgpicture-2x.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/bcgpicture-2x.jpg");
  }
}

.hero__title {
  margin-top: 0;
  margin-bottom: 32px;
  text-transform: uppercase;
  font-weight: 900;
  letter-spacing: 0.06em;
  color: #FFFFFF;
}
@media screen and (max-width: 1200px) {
  .hero__title {
    font-size: 26px;
    line-height: 1.62;
    text-align: center;
  }
}
@media screen and (min-width: 1200px) {
  .hero__title {
    font-size: 44px;
    line-height: 1.36;
  }
}

.btn-secondary:focus {
  color: #FFFFFF;
  background-color: #2196F3;
  -webkit-box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.1215686275);
          box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.1215686275);
  -webkit-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.0784313725);
          box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.0784313725);
  -webkit-box-shadow: 0px 3px 1px 0px rgba(0, 0, 0, 0.1019607843);
          box-shadow: 0px 3px 1px 0px rgba(0, 0, 0, 0.1019607843);
}

.button__primary {
  min-width: 200px;
  display: inline-block;
  border-radius: 4px;
  padding: 10px 32px;
  color: #FFFFFF;
  background-color: #2196F3;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;
}

.exit-btn {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: auto;
  width: 30px;
  height: 30px;
  top: 8px;
  right: 8px;
  -webkit-transform: translate();
          transform: translate();
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  background: #FFFFFF;
}
.exit-btn:hover {
  color: #2196F3;
}

.exit-btn__icon {
  fill: currentColor;
}

.btn-submit {
  display: inline-block;
  width: 200px;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  padding: 10px 52px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  color: #FFFFFF;
  background: #2196F3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.menu-btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  position: fixed;
  right: 15px;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  z-index: 2;
}
@media screen and (min-width: 767px) {
  .menu-btn {
    display: none;
  }
}

.menu-btn__menu {
  display: none;
}

.menu-btn.is-open .menu-btn__menu {
  display: block;
}

.menu-btn.is-open .menu-btn__close {
  display: none;
}

.section-features {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .section-features {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.section-features__title--visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  overflow: hidden;
}

.section-features__title {
  margin-top: 0;
  margin-bottom: 10px;
  color: #212121;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: center;
}
@media screen and (min-width: 767px) {
  .section-features__title {
    text-align: start;
  }
}

@media screen and (min-width: 767px) {
  .section-features__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media screen and (max-width: 767px) {
  .section-features__item:not(:last-child) {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 767px) {
  .section-features__item {
    width: 354px;
    margin: 0;
  }
}
@media screen and (min-width: 1200px) {
  .section-features__item {
    width: 270px;
    margin-right: 30px;
  }
}
@media screen and (min-width: 767px) {
  .section-features__item:nth-child(2n+1) {
    margin-right: 30px;
  }
}
@media screen and (min-width: 767px) {
  .section-features__item:nth-last-child(-n+2) {
    margin-bottom: 0px;
  }
}
.section-features__item:nth-last-child(-n+2):nth-child(-n+2) {
  margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .section-features__item:nth-child(4) {
    margin-right: 0;
  }
}

.section-features__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 120px;
  background-color: #F5F4FA;
  margin-bottom: 30px;
  border-radius: 4px;
}
@media screen and (min-width: 767px) {
  .section-features__icon {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .section-features__icon {
    width: 270px;
  }
}

.section-features__text {
  margin-top: 0;
  margin-bottom: 0;
  color: #757575;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.section-work {
  padding: 0;
  padding-bottom: 94px;
}
@media screen and (max-width: 1200px) {
  .section-work {
    display: none;
  }
}

.section-work__title {
  margin: 0;
  margin-bottom: 50px;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}

.section-work__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section-work__example {
  width: calc((100% - 60px) / 3);
  margin-right: 30px;
}
.section-work__example:last-child {
  margin-right: 0;
}

.section-work__thumb {
  padding: 0;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.section-work__image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.section-work__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0;
  padding: 0;
  width: 370px;
  height: 70px;
  bottom: 0;
  right: 0;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
  background: rgba(47, 48, 58, 0.8);
}

.section-team {
  background-color: #F5F4FA;
}
@media screen and (max-width: 1200px) {
  .section-team {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .section-team {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.section-team__title {
  margin: 0;
  margin-bottom: 30px;
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}
@media screen and (min-width: 1200px) {
  .section-team__title {
    font-size: 36px;
    margin-bottom: 50px;
  }
}

@media screen and (min-width: 767px) {
  .section-team__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.section-team__name {
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  color: #212121;
}

.section-team__member {
  height: 622px;
  margin: 0;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(38, 13, 13, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(38, 13, 13, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: #FFFFFF;
}
@media screen and (min-width: 767px) {
  .section-team__member {
    width: 354px;
    height: 536px;
  }
}
@media screen and (min-width: 1200px) {
  .section-team__member {
    -ms-flex-preferred-size: calc((100% - 90px) / 4);
        flex-basis: calc((100% - 90px) / 4);
    margin-right: 30px;
    padding-bottom: 30px;
    width: 270px;
    height: 428px;
  }
}
@media screen and (max-width: 767px) {
  .section-team__member:not(:last-child) {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 767px) {
  .section-team__member:nth-child(2n+1) {
    margin-right: 30px;
  }
}
@media screen and (min-width: 767px) {
  .section-team__member:nth-child(-n+2) {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 767px) {
  .section-team__member:not-last-child(-n+2) {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1200px) {
  .section-team__member:nth-child(4) {
    margin-right: 0;
  }
}

img {
  display: block;
  height: auto;
  max-width: 100%;
}

.section-team__name {
  text-align: center;
}

.section-team__text {
  margin-top: 0;
  color: #757575;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.section-team__info {
  padding-top: 30px;
  margin-bottom: 16px;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
}

.social__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: #AFB1B8;
}
.social__link:hover, .social__link:focus {
  color: #FFFFFF;
  background-color: #2196F3;
  cursor: pointer;
}
.social__link--inverse {
  color: #FFFFFF;
  background-color: rgba(255, 255, 255, 0.1019607843);
}

.social__icon {
  fill: currentColor;
}

.section-clients {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .section-clients {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.section-clients__title {
  margin: 0;
  margin-bottom: 30px;
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}
@media screen and (min-width: 1200px) {
  .section-clients__title {
    font-size: 36px;
    margin-bottom: 50px;
  }
}

.section-clients__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media screen and (max-width: 1200px) {
  .section-clients__list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.section-clients__company {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: calc((100% - 60px) / 2);
  height: 92px;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
}
@media screen and (min-width: 767px) {
  .section-clients__company {
    margin-right: 30px;
    width: 226px;
  }
}
@media screen and (min-width: 1200px) {
  .section-clients__company {
    margin-right: 30px;
    width: 170px;
  }
}
.section-clients__company:hover, .section-clients__company:focus {
  color: #2196F3;
  border: 1px solid #2196F3;
  cursor: pointer;
}
@media screen and (max-width: 767px) {
  .section-clients__company:nth-child(2n+1) {
    margin-right: 30px;
  }
}
@media screen and (max-width: 767px) {
  .section-clients__company:nth-child(-n+4) {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 767px) {
  .section-clients__company:nth-child(3n+3) {
    margin-right: 0px;
  }
}
@media screen and (min-width: 767px) {
  .section-clients__company:not(:nth-child(n+4)) {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .section-clients__company:last-child {
    margin-right: 0;
  }
}
@media screen and (min-width: 1200px) {
  .section-clients__company:nth-child(3) {
    margin-right: 30px;
  }
}

.section-clients__link {
  color: #AFB1B8;
}
.section-clients__company:hover .section-clients__link {
  color: #2196F3;
  cursor: pointer;
}

.section-clients__icon {
  fill: currentColor;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  padding: 93px 15px;
  opacity: 1;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background: rgba(0, 0, 0, 0.2);
  overflow-y: scroll;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.modal {
  max-width: 450px;
  max-height: 609px;
  padding: 40px;
  width: 100%;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (max-width: 767px) {
  .modal {
    position: absolute;
    top: 60%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%) scale(1);
            transform: translate(-50%, -50%) scale(1);
  }
}
@media screen and (min-width: 767px) {
  .modal {
    position: absolute;
    top: 60%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%) scale(1);
            transform: translate(-50%, -50%) scale(1);
    max-width: 450px;
    max-height: 609px;
    width: 100%;
  }
}
@media screen and (min-width: 1200px) {
  .modal {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%) scale(1);
            transform: translate(-50%, -50%) scale(1);
    max-width: 528px;
    max-height: 581px;
  }
}

.modal__title {
  margin: 0;
  margin-bottom: 12px;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.form__list {
  width: 100%;
  margin: 0 auto;
  padding: 0;
}

.form__item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 10px;
}

.form__label {
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: #757575;
}

.form__box {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: absolute;
}

.form__check-icon {
  display: inline-block;
  width: 16px;
  height: 15px;
  margin-right: 7px;
  border: 2px solid rgb(33, 33, 33);
  border-radius: 4px;
}
.form__box:checked + .form__check-icon {
  border-color: #2196F3;
  background-color: #2196F3;
  background-image: url("../images/check.svg");
  background-size: contain;
  background-origin: border-box;
}

.form__box:checked + .form__check-icon {
  border-color: #2196F3;
  background-color: #2196F3;
  background-image: url("../images/check.svg");
  background-size: contain;
  background-origin: border-box;
}

.form__check {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
  padding: 0;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #757575;
}
@media screen and (min-width: 767px) {
  .form__check {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: 8px;
    font-size: 12px;
    line-height: 1.71;
  }
}

.form__checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.form__input {
  margin: 0;
  padding: 0;
  padding-left: 30px;
  height: 40px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}

.form__textarea:focus,
.form__input:focus {
  outline: 1px solid #2196F3;
  cursor: pointer;
}

.form__element {
  position: absolute;
  top: 75%;
  left: 12px;
  -webkit-transform: translateY(-75%);
          transform: translateY(-75%);
  width: 18px;
  height: 18px;
  color: #212121;
}
.form__check-icon + .form__element {
  color: #2196F3;
}
.form__input:focus + .form__element {
  color: #2196F3;
}

.form__textarea {
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  resize: none;
  font-size: 12px;
  line-height: 1.17px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}

.form__text {
  margin: 0;
  margin-right: 9px;
}

.form__link {
  color: #2196F3;
}

.form__icon {
  fill: currentColor;
}

.end-page {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2F303A;
}

@media screen and (min-width: 1200px) {
  .end-page__info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}

@media screen and (min-width: 767px) {
  .end-page__data {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 0;
  }
}

.end-page__meta {
  text-align: center;
  margin-bottom: 60px;
}
@media screen and (min-width: 767px) {
  .end-page__meta {
    margin-right: 165px;
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1200px) {
  .end-page__meta {
    text-align: start;
    margin: 0;
  }
}

.end-page__post-office {
  margin-top: 20px;
  margin-bottom: 9px;
  color: #FFFFFF;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
}

.end-page__email {
  margin-bottom: 9px;
}

.end-page__item {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  text-decoration: none;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: #ACACB0;
}
.end-page__item:hover, .end-page__item:focus {
  color: #2196F3;
}

.end-page__join {
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .end-page__join {
    margin-left: 94px;
  }
}

.end-page__title {
  margin: 0;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
}

.sign-up {
  text-align: center;
}
@media screen and (min-width: 767px) {
  .sign-up {
    margin-top: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .sign-up {
    margin-left: 93px;
    margin-top: 0;
  }
}

.sign-up__name {
  margin: 0;
  padding: 0;
  margin-top: 60px;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
}
@media screen and (min-width: 1200px) {
  .sign-up__name {
    margin-top: 0;
    text-align: start;
  }
}

@media screen and (min-width: 1200px) {
  .subscribe {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.subscribe__window {
  position: relative;
  width: 100%;
  height: 50px;
  padding: 15px 16px;
  margin-bottom: 20px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  background: #2F303A;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}
@media screen and (min-width: 767px) {
  .subscribe__window {
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .subscribe__window {
    width: 358px;
  }
}

.subscribe__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  width: 200px;
  height: 50px;
  padding: 10px 28px;
  margin-left: auto;
  margin-right: auto;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.89;
  letter-spacing: 0.06em;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  color: #FFFFFF;
  background: #2196F3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
@media screen and (min-width: 1200px) {
  .subscribe__btn {
    margin-left: 12px;
  }
}

.subscribe__icon {
  margin-left: 10px;
}

.social-media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  margin: 0;
  margin-top: 64px;
  color: #2196F3;
}
@media screen and (min-width: 767px) {
  .social-media {
    display: none;
  }
}

.social-media__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: baseline;
      -ms-flex-pack: baseline;
          justify-content: baseline;
  position: relative;
}

.social-media__item:not(:last-child) {
  margin-right: 20px;
}

.social-media__item:nth-child(n+2)::after {
  content: "";
  display: block;
  position: absolute;
  background-color: rgba(33, 33, 33, 0.2);
  width: 22px;
  height: 1px;
  top: 90%;
  left: -10%;
  -webkit-transform-origin: bottom left;
          transform-origin: bottom left;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}/*# sourceMappingURL=main.css.map */