.section {
    @media screen and (max-width: 1200px){
    @include padding(60px, 60px);
    }
    @media screen and (min-width: 1200px){
   @include padding();
    }
}
.portfolio__menu--visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    overflow: hidden;
}
.portfolio__list {
    @extend %list;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 50px;
    @media screen and (min-width: 767px) {
        justify-content: center;
        flex-wrap: nowrap;
    }
}

.portfolio__item:not(:last-child) {
    margin-right: 8px;
    margin-bottom: 15px;
}