.page {
    color: $primary-text-color;
    font-family: 'Roboto', sans-serif;
}

.page-header {
    position: relative;
    background-color: $bcg-white-color;
    border-bottom: 1px solid #ECECEC;
}

