.hero {
    background-color: #2F303A;
    text-align: center;
    margin: 0 auto;
    @include padding(118px, 118px);

    @media screen and (min-width: 1200px){
    @include padding(200px, 200px);
}
}
/* overlay */
.hero--overlay {
background-repeat: no-repeat;
background-position: center;
background-size: cover;
@media screen and (max-width: 767px) {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)),
        url('../images/bcg-mobile-1x.jpg');

@media screen and (min-device-pixel-ratio: 2),
    screen and (-webkit-min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
        .hero--overlay {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4),
                rgba(47, 48, 58, 0.4)),
            url('../images/bcg-mobile-2x.jpg');
}
}
}
@media screen and (min-width: 768px) {
   
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4),
                rgba(47, 48, 58, 0.4)),
            url('../images/bcg-tablet-1x.jpg');

@media screen and (min-device-pixel-ratio: 2),
    screen and (-webkit-min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
        .hero--overlay {
        background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4),
                    rgba(47, 48, 58, 0.4)),
                url('../images/bcg-tablet-2x.jpg');
}
}
}
@media screen and (min-width: 1200px){
    max-width: 1600px;
    height: 600px;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)),
        url('../images/bcgpicture.jpg');

@media screen and (min-device-pixel-ratio: 2),
screen and (-webkit-min-device-pixel-ratio: 2),
screen and (min-resolution: 192dpi),
screen and (min-resolution: 2dppx) {
    .hero--overlay {
        background-image:linear-gradient(to right, rgba(47, 48, 58, 0.4),
                rgba(47, 48, 58, 0.4)),
            url('../images/bcgpicture-2x.jpg');
}
}
}
}
.hero__title {
    margin-top: 0;
    margin-bottom: 32px;

    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: 0.06em;

    color: $primary-white-color;

    @media screen and (max-width: 1200px){
        font-size: 26px;
        line-height: 1.62;
        text-align: center;
    }
@media screen and (min-width: 1200px){
    
    font-size: 44px;
    line-height: 1.36;
}
}