%list{
   list-style: none;
   margin: 0;
   padding: 0;
}
%img{
    display: block;
    max-width: 100%;
    height: auto;
}
%button{
    display: inline-block;
    border-radius: 4px;
    border: none;
    padding: 6px 22px;
    
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
    color: $primary-text-color;
    background-color: $secondary-white-color;
    
    font-family: inherit;
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    letter-spacing: 0.03em;
}