$primary-text-color:#212121;
$secondary-text-color:#757575;
$accent-color:#2196F3;
$primary-bcground-color:#F5F5F5;
$bcground-accent-color: #2196F3;
$primary-white-color:#FFFFFF;
$secondary-white-color:#F5F4FA;
$bcground-secondary-white-color: #F5F4FA;
$bcg-white-color: #FFFFFF;

